.out{
    padding: 10px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0px;
}
h1{
    font-family: Arial;
    font-weight: 900;
    color: #1c3b6a;
    line-height: 2.5rem;
    letter-spacing: -1px;
    font-size: 2.5rem;
    margin-top: 30px;
    }
    h1 font{
    color: #caa12e;
    }
h6{
color: #12438b;
font-size: 0.9rem;
font-weight: 700;
}
h6 small{
font-size: 0.7rem;
font-weight: 700;
}
h6 font{
font-size: 0.6rem;
font-weight: 400;
}
table{
    font-size: 0.7rem;
}
table tr td{
    padding: 5px;
}
@media only screen and (max-width: 600px) {
    .out{
        padding-left: 0px;
        padding-right: 0px;
        padding: 20px;
        margin: 0px;
    }

}