<nav class="none navbar navbar-expand-sm col-md-12 desktop" *ngIf="w>550px" @slideny>
    <div class="navbar-header logo col-md-2 col-xs-6 ">
        <img src="../../assets/images/logo.png" alt="Logo Kohinoor" class="img-fluid col-7 col-xs-9 col-md-9 " />
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
            <i class="fa fa-bars "></i>
        </button>
    </div>
    <div class="collapse navbar-collapse nav_adjust" id="myNavbar">
        <ul class=" navbar-nav nav_imp ">
       
            <li class="nav-item"><a class="nav-link" routerLink="Home">HOME</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="About">ABOUT US </a></li>
            <li class="nav-item"><a class="nav-link" routerLink="FeaturedProject">FEATURED PROJECT</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="AllProjects">ALL PROJECTS</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">BROCHURES</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">CONTACT US</a></li>
                  
            <div class="dropdown  plot">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">PLOT AVAILABILITY
                <span class="caret"></span></button>
            </div>
        </ul>
</div>
</nav>

<nav class="none navbar navbar-expand-sm col-md-12 mobile" *ngIf="w<550px" @slideny>
    <div class="navbar-header logo col-md-2 col-xs-6 ">
        <img src="../../assets/images/logo.png" alt="Logo Kohinoor" class="img-fluid col-7 col-xs-9 col-md-9 " />
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
            <i class="fa fa-bars "></i>
        </button>
    </div>
    <div class="collapse navbar-collapse nav_adjust" id="myNavbar">
        <ul class=" navbar-nav nav_imp ">
       
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" routerLink="Home">HOME</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" routerLink="About">ABOUT US </a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" routerLink="FeaturedProject">FEATURED PROJECT</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" routerLink="AllProjects">ALL PROJECTS</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" routerLink="#">BROCHURES</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" routerLink="#">CONTACT US</a></li>
                  
            <div class="dropdown  plot">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">PLOT AVAILABILITY
                <span class="caret"></span></button>
            </div>
        </ul>
</div>
</nav>