*{
    box-sizing: border-box;
    font-size:12px;
}
.sub_drop{
    z-index: 100;
}
nav {
    padding:0px!important;
}
.logo {
    margin-left:10px;
}
.logo img{
     padding: 0px;
    }
.navbar-expand-sm .navbar-nav .nav-link:hover {
    background-color:#1B3C6A;
    color:#fff;
}	
.navbar-expand-sm .navbar-nav .nav-link:focus {
    background-color:#1B3C6A;
    color:#fff;
}	
.nav_adjust {
    margin-left: 23%;
}
.nav_imp .nav-link {
    margin: 5px;
}
.plot {
    font-size:10px;
    margin-right: 25px;
} 
.none .logo button{
    display:none!important;
}
.logo {
    margin: 0px;
    padding: 0px!important;
}
.btn-info {background-color: #1B3C6A;color:#fff}
.nav-link {color:#221E1F;
            font-size: 10.4px;
            font-weight: 600}
.plot {margin-left: 56px;}





@media only screen and (max-width: 575px) {
.logo {
    margin:0px;
}
.nav_imp li a{
    padding:0px!important;
} 
#myNavbar ul{
     padding: 3px;
    }  
#myNavbar ul li{
     padding: 3px;
    } 
#myNavbar ul li a{font-size: 20px}
.logo img{
    float: left;
    margin-right: 41px;
}
.none .logo button{
    display:block!important;
    margin-top: 24px;
}
.logo button i{font-size: 30px}
.sub_drop {
    display:none!important;
}
.plot button {font-size: 20px;}



}
@media only screen and (min-width:576px) and (max-width:768px)
{
.logo {
    margin:0px;
}
.nav_imp li a{
    padding:0px!important;
} 
.sub_drop {
    display:none!important;
}
.nav_adjust {
    margin-left: 0px;
}
.navbar-expand-sm .navbar-nav .nav-link {
    font-size:8px;
}
.plot button{
    font-size: 8px;
    padding:0px;
} 

}




