<nav class="none navbar navbar-expand-sm col-md-12 animated slideInDown">
    <div class="navbar-header logo col-md-2 col-xs-6 animated pulse">
        <img src="../../assets/images/logo.png" alt="Logo Kohinoor" class="img-fluid col-7 col-xs-9 col-md-9 " />
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
            <i class="fa fa-bars col-12"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse nav_adjust" id="myNavbar">
        <ul class=" navbar-nav nav_imp ">
        <!-- <ul class="nav navbar-nav nav_imp pull-right animated lightSpeedIn">  -->
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" href="#">HOME</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" href="#">ABOUT US </a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" data-toggle="dropdown"  href="#">FEATURED PROJECT</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" href="#">COMPLETED PROJECTS</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" href="#">BROCHURES</a></li>
            <li class="nav-item" data-toggle="collapse" data-target="#myNavbar"><a class="nav-link" href="#">CONTACT US</a></li>
            <li class="">
            </li>
        </ul>
        
    </div>
    <div class="dropdown  plot">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">PLOT AVAILABILITY
        <span class="caret"></span></button></div>
</nav>