<footer class="footer col-md-12 animated slideInUp ">
	<div class="row">
		<div class="pvtld col-md-1 text-center">
			<img src="../../assets/images/footer-1.png" class="img-fluid " alt="REALATORS PVT LTD" />
		</div>
		<div class=" pvtld col-md-2 text-center">
			<img src="../../assets/images/footer-2.png" class="img-fluid" alt="REALATORS PVT LTD" />
		</div>
		<div class="font_icons col-md-9 ">
			<!-- <div class="font_icons col-md-5 col-xs-12 animated jello "> -->
			<!-- <div class="font_icons col-md-5 col-xs-12 animated zoomIn "> -->
			<ul class="list-inline text-center"> 
				<li class="list-inline-item"><a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
				<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook-official"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="fa fa-envelope"></i></a></li>
				<li class="list-inline-item"><a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin"></i></a></li>
				<li class="list-inline-item"><a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="fa fa-phone"></i></a></li>
				<li class="list-inline-item"><a href=""><i class="fa fa-info"></i></a></li>
			</ul>
		</div>
	</div>
	</footer>