<footer class="footer col-md-12 ">
	<div class="row">
		<div class="pvtld1 col-md-1 text-center">
			<img src="../../assets/images/footer-1.png" class="img-fluid col-md-11" alt="REALATORS PVT LTD" />
		</div>
		<div class=" pvtld col-md-2 ">
			<img src="../../assets/images/footer-2.png" class="img-fluid col-9" alt="REALATORS PVT LTD" />
		</div>
		<div class="font_icons col-md-8 ">
			<!-- <div class="font_icons col-md-5 col-xs-12 animated jello "> -->
			<!-- <div class="font_icons col-md-5 col-xs-12 animated zoomIn "> -->
			<ul class="list-inline "> 
				<li class="list-inline-item s1 "><a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
				<li class="list-inline-item s2"><a href="https://www.facebook.com/"><i class="fa fa-facebook-official"></i></a></li>
				<li class="list-inline-item s3"><a href=""><i class="fa fa-envelope"></i></a></li>
				<li class="list-inline-item s4"><a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin"></i></a></li>
				<li class="list-inline-item s5"><a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a></li>
				<li class="list-inline-item s6"><a href=""><i class="fa fa-phone"></i></a></li>
				<li class="list-inline-item s7"><a href=""><i class="fa fa-info"></i></a></li>
			</ul>
		</div>
	</div>
	</footer>