<div class="container ">
  <nav class=" navbar navbar-expand-sm">
      <ul class="nav_sub navbar-nav">
          <li class="nav-item"><a  class="nav-link" routerLink="Overview" >OVERVIEW</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="LocationMap" >LOCATION MAP</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="FloorPlans" >FLOOR PLANS </a>
       </li>
          <li class="nav-item"><a  class="nav-link" routerLink="ProjectHighlights" >PROJECT HIGHLIGHTS </a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="Specifications" >SPECIFICATIONS</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="Gallery" > GALLERY</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="Brochure" >  BROCHURE</a></li>

      </ul>
  </nav>
</div>