<div class="container-fluid nav_mini ">
  <nav class="navbar navbar-expand-sm nav-sub">
    <ul class=" navbar-nav nav-sub">
        <li class="nav-item"><a class="nav-link" routerLink="Overview">OVERVIEW</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="LocatonMap"> LOCATION MAP</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="FloorPlans">FLOOR PLANS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="ProjectHighlights">PROJECT HIGHLIGHTS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Specifications">SPECIFICATIONS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Gallery">GALLERY</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="Brochure"> BROCHURE</a></li>
    </ul>
  </nav>
</div>