<div class="container ">
  <nav class=" navbar navbar-expand-sm">
    <ul class="nav_sub navbar-nav">
          <li class="nav-item"><a  class="nav-link" routerLink="overview" >OVERVIEW</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="location" >LOCATION MAP</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="floorplans" >FLOOR PLANS </a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="projecthighlights" >PROJECT HIGHLIGHTS </a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="specifications" >SPECIFICATIONS</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="gallery" > GALLERY</a></li>
          <li class="nav-item"><a  class="nav-link" routerLink="brochure" >  BROCHURE</a></li>
      </ul>
      <div class="form-group">
        <select class=" form-control optn_hide ">
                <option>OVERVIEW</option>
                <option>LOCATION MAP</option>
                <option>FLOOR PLANS</option>
                <option>PROJECT HIGHLIGHTS </option>
                <option>SPECIFICATIONS</option>
                <option>GALLERY</option>
                <option>BROCHURE</option>
        </select>
    </div>
   </nav>
</div>