<div class="container out">
  <div class="row">
  <div class="col-md-5 col-12 text-center">
    <img src="../../assets/images/fp-logo.png" alt="" class="img-fluid col-7">
    <p class="text-left">
        Drive on 150ft wide road with median from Inner Ring Road and arrive at Kohinoor Avian City
        located near Shamshabad Airport. Your home is so central and well connected, you can reach
        it in a few minutes smooth drive from four sides - Inner Ring Road, Bangalore NH No 7, Srisailam
        State Highway, and International Airport or ORR on wide roads. The future is fast taking shape
        and the property is still amazingly affordable. Give your children a secure and green
        environment to blossom in pollution-free environment. The gated layout of plots and duplex
        luxury villas will take you into a domain of future.
    </p>
  </div>
  <div class="col-md-7 col-12 container tile-cont">
    <img src="../../assets/images/fp-img.png" alt="" class="img-fluid col">
  </div>
  </div>
  </div>