.out{
    padding: 10px;
    padding-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0px;
}
p{
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 600px) {
    .out{
        padding-left: 0px;
        padding-right: 0px;
        padding: 20px;
        margin: 0px;
    }

}