.out{
    padding: 10px;
    padding-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
}
h1{
font-family: Arial;
font-weight: 900;
color: #1c3b6a;
line-height: 2.2rem;
letter-spacing: -3px;
font-size: 2.5rem;
}
h3{
    font-family: Arial;
    font-weight: 900;
    color: #caa12e;
    line-height: 2rem;
    letter-spacing: -1px;
    font-size: 1.9rem;
    margin-left: 10px;
}
h1 font{
color: #caa12e;
}
p{
    font-size: 0.65rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.tile-cont{
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}
.img-tile{
overflow: hidden;
}
.name-tile{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 900;
    margin: 0px;
    color: #1c3b6a;
}
.desig-tile{
    margin: 0px;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .out{
        padding-left: 0px;
        padding-right: 0px;
        padding: 20px;
        margin: 0px;
    }
    h1 {
        line-height: 2rem;
        letter-spacing: -3px;
        font-size: 2.4rem;
    }

    .name-tile{
        font-size: 0.85rem;
    }
    .desig-tile{
        margin: 0px;
        font-size: 0.75rem;
        font-weight: 600;
    }
    .tile-cont{
        height: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}