<div class="container out">
  <div class="row">
  <div class="col-md-7 col-12" @slidenx>
    <h1>CREATING<br>
      <font>HAPPY<br>LIFE SPACES</font></h1>
    <p>Began 1992 as a contract company for the 
      government, KM Kohinoor Infra is now a reputed name in real estate
       construction segment. Driven by the fervent desire to offer world 
       class development projects, the company since 2004 has been into
        building independent villas, duplex villas as well as apartments. 
        It has associated with well-known construction companies such as
         RR Group of Companies, Baycon Builders and Aftech amongst others. 
         While some projects are Hyderabad Metropolitan Development Authority 
         (HMDA) approved, some are registered under gram panchayat layout.<br><br>
         Few of the projects include ‘Pariwar Town’
       developed across 14 acres. KM Kohinoor Infra currently selling
        one of the best HMDA Approved Layout of Hyderabad i.e.,
         “Kohinoor County” comprising open plots and independent
          villas on a land area of 27 acres. The company is also 
          working with Baycon Builders to build independent villas on 340 acres 
          land near Shankarpally area in Hyderabad.  The Kohinoor Gardenia 
          Luxury Villa Compound Project of 100 acres will comprise of 800 villas. 
          KM Kohinoor Infra strives to ensure that the each of the projects offer
           spacious and modern designs combined with ample greenery.<br><br>
           Adhering to the property guidelines and regulations 
      helps it offer consumers hassle-free home purchasing and ownership. Ultimate
       client satisfaction and value for money is the main aim of the company. Each 
       of the team members at KM Kohinoor Infra pride themselves to staying true 
       and committed to the ideas of offering quality work while maintaining
        ethical business standards.
    </p>
  </div>
  <div class="col-md-4 col-12 container tile-cont" @slidex>
    
      <h3>TEAM</h3><br>
      <div class="row">
      <div class="col-md-6 col-6" *ngFor="let team of team">
            <img [src]="team.img_path" alt="" class="img-tile col-12">
          <h6 class="text-center name-tile">{{team.name}}</h6>
          <p class="text-center desig-tile">{{team.designation}}</p><br>
      </div>
  </div>
  </div>
  </div>
  </div>