<div class="container out">
    <h1>A FEW OF OUR<font> PROJECTS</font></h1><br>
  <div class="container tile-cont">
      <div class="row">
  <div class="col-md-4 col-11 container">
  <h6 class="h6">COMPLETED PROJECTS</h6>
  <div class="sep container col-12">
<div class="row">
    <div class="col-md-6 col-10 cp-tile" *ngFor="let x of cp">
        <div class="col-12 logo" *ngIf="x.logo_path.length!=0">
            <img [src]="x.logo_path" class="col-12 logo-img img-center">
        </div>
        <div class="col-12" *ngIf="x.img_path.length!=0">
            <img [src]="x.img_path" class="col-12">
        </div>
        <p class="title">{{x.title}}</p>
    </div>
</div>
  </div>
  </div>
  <div class="col-md-4 col-11 container">
  <h6 class="h6">UPCOMING PROJECTS</h6>
  <div class="sep container col-12">
<div class="row">
    <div class="col-6 container"></div>
    <div class="col-6 container"></div>
</div>
  </div>
  </div>
  <div class="col-md-4 col-11 container">
  <h6 class="h6">ONGOING PROJECTS</h6>
  <div class="col-12 container">
<div class="row">
    <div class="col-6 container"></div>
    <div class="col-6 container"></div>
</div>
  </div>
  </div>
  </div>
  </div>
  </div>